*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header div a {
    
    width: 100%;
    height: 50px;
    background-color: #BB4129;
    color: #fff8e8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Oswald", sans-serif;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
    text-decoration: none;

}
nav {
    width: 100%;
    height: 76px;
    background-color: #fff8e8;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
nav ul {
    display: flex;
    /* mueve elementos o hacerlos horizontales */
    list-style: none;
    justify-content: center;
    align-items: center;

}
nav ul .menu {
    width: 30px;
    height: 30px;
}
nav ul .logo {
   width: 95%;
}
nav ul .map {
    width: 30px;
    height: 30px;
}
nav ul .cart {
    width: 30px;
    height: 30px;
}

nav .izquierda {
    justify-self: left;
    padding-left: 30px;
    align-items: center;
    gap: 20px;

}
nav .centro {
    justify-self: center;
    align-items: center;
    gap: 30px;
}
nav .derecha {
    justify-self: right;
    align-items: center;
    padding-right: 30px;
    gap: 30px;
}

.banner .banner-dulce-de-leche {
    height: 100%;
    width: 100%;
}

.banner {
    background-image: url("https://crepesywaffles.com/sites/default/files/2024-09/BannerAnthro_1920x1080px-100%281%29.jpg");
    color: white;
    width: 100%;
  height: 800px;
  display: grid;
  justify-content: start;
  align-items: center;
  padding-left: 200px;
  padding-top: 200px;
  padding-bottom: 200px;
  padding-right: 200px;
  font-family: "Montserrat", sans-serif;
  font-size: 90px;
  font-weight: 700;
}

.banner .helado-de-temporada {
    color: white;
    font-family: "Oswald", sans-serif;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
    text-decoration: none;
}

.banner .dulce-de-leche {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 90px;
    font-weight: 700;
    text-decoration: none;
}


.nuestras-ideas {
    list-style: none;
    width: 100%;
    height: 76px;
    background-color: #3b1f1c;
    display: grid;
    grid-template-columns: 75px 75px 15fr;
}

.nuestras-ideas .gallery {
    width: 75px;
    height: 76px;
    background-color: #BB4129;
    list-style: none;
}
.nuestras-ideas2 a {
    color: #fff8e8;
    text-decoration: none;
}

.nuestras-ideas .play {
    list-style: none;
}

.nuestras-ideas .nuestras-ideas2 {
    color: #fff8e8;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Oswald", sans-serif;
    font-size: 12px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
    list-style: none;
}

.bonos-de-regalo {
    background-image: url("https://crepesywaffles.com/themes/custom/tecsua/images/banners/b_bonos3.jpg");
    color: white;
    height: 541px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Montserrat", sans-serif;
  font-size: 70px;
  font-weight: 700;
  text-decoration: none;

}

.bonos-de-regalo a {
    color: white;
    text-decoration: none;
}

.que-hacemos {
    height: 227px;
    background-color: #fff8e8;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3b1f1c;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 35px;
}

.que-hacemos-dos {
    height: 360px;
    background-color: #fff8e8;
    display: flex;
    gap: 30px;
}

.fotouno {
background-image: url("https://crepesywaffles.com/sites/default/files/styles/large/public/2023-07/Imagen%20Blog.jpg");
width: 360px;
color: #fff8e8;
height: 360px;
display: flex;
justify-content: start;
align-items: last baseline;
font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  padding-left: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
}

.fotodos {
    width: 360px;
    height: 360px;
    color: #fff8e8;
    background-image: url("https://crepesywaffles.com/sites/default/files/styles/large/public/2023-10/vista-superior-huevos-gallina-frescos-dentro-canasta-mesa-oscura.jpg");
    display: flex;
    justify-content: start;
    align-items: last baseline;
    font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  padding-left: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
}

.fototres {
    width: 360px;
    height: 360px;
    color: #fff8e8;
    background-image: url("https://crepesywaffles.com/sites/default/files/styles/large/public/2021-03/banner%20empresas%20b-03-min%20%281%29%20%281%29%20%281%29%20%281%29%20%281%29%20%281%29%20%281%29%20%281%29%20%281%29%20%281%29%20%282%29-compressed%20%282%29.jpg");
    display: flex;
    justify-content: start;
    align-items: last baseline;
    font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  padding-left: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
}

.fotocuatro {
    width: 360px;
    height: 360px;
    color: #fff8e8;
    background-image: url("https://crepesywaffles.com/sites/default/files/styles/large/public/2024-02/Recetario_1920x1080px.jpg");
    display: flex;
    justify-content: start;
    align-items: last baseline;
    font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  padding-left: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
}

.fotocinco {
    width: 360px;
    height: 360px;
    color: #fff8e8;
    background-image: url("https://crepesywaffles.com/sites/default/files/styles/large/public/2022-10/Banner-Antrho_Sintexto_2.jpg");
    display: flex;
    justify-content: start;
    align-items: last baseline;
    font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: 700;
  padding-left: 30px;
  padding-bottom: 30px;
  padding-right: 30px;
}

.que-hacemos-dos a {
    text-decoration: none;
    color: white;
}

.sabores-crepeswaffles {
    height: 227px;
    background-color: #fff8e8;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #3b1f1c;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-size: 35px;
}

.comidas-1 {
    display: flex;
    width: 100%;
    height: 500px;
}
.comidas-1 img {
    width: 50%;
    height: auto;
    object-fit: cover;
}
.comidas-2 {
     display: flex;
      width: 100%;
     height: 500px;
}

.comidas-2 img {
    width: 50%;
    height: auto;
    object-fit: cover;
    /* ayuda a que no se aplasten */
}

.siguenos-en {
    background-color: #fff8e8;
    justify-content: center;
    display: grid;
    align-items: center;
    color: #3b1f1c;
    font-family: "Oswald", sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 2px;
    height: 375px;
    width: auto;
    grid-template-rows: 1fr 1fr 1fr;
    padding-top: 60px;
    padding-bottom: 60px;
    
}

.siguenos-en .uno {
    display: grid;
justify-content: center;
padding-top: 30px;
}

.siguenos-en .dos {
justify-content: center;
display: flex;
align-items: center;
gap: 30px;
padding-bottom: 30px;
}

.siguenos-en .dos .facebook {
    width: 30px;
    height: auto;
}

.siguenos-en .dos .instagram {
    width: 30px;
    height: auto;
}

.siguenos-en .dos .linkedin {
    width: 30px;
    height: auto;
}
.siguenos-en .dos .xtwitter {
    width: 30px;
    height: auto;
}

.siguenos-en .tres {
justify-content: center;
display: flex;
align-items: center;
}
.mensaje {
    display: grid;
    justify-content: center;
    align-items: cen;
    background-image: url("https://crepesywaffles.com/themes/custom/tecsua/images/bgs/footer-home.jpg");
    width: auto;
    height: 400px;
    image-rendering: auto;
    border-image-width: auto;
    object-fit: cover;
    
}

.mensaje-uno {
    
    display: grid;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    text-align: center;
    font-weight: 350;
    font-style: normal;
    font-size: 35px;
    height: 200px;
    width: auto;
    padding-left: 250px;
    padding-right: 250px;
}

.año {
    align-items: center;
    justify-content: center;
    color: white;
    font-family: "Oswald", sans-serif;
    font-size: 40px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 2px;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.anthropologic {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacto {
    display: flex;
    padding-left: 100px;
    padding-right: 100px;
    justify-content: center;
    align-items: center;
    background-color: #fff8e8;
    color: #3b1f1c;
    font-family: "Oswald", sans-serif;
    font-size: 13px;
    letter-spacing: 2px;
    height: 93px;
    width: auto;
    gap: 20px;
}